osx_image: xcode8.1
dist: xenial
language: C
sudo: required

#dist: trusty

# whitelist
branches:
  only:
   - develop

notifications:
  email: false

before_install:
    - |
      if [ "$(uname)" = "Linux" ]; then
         sudo apt-get update -qq;
         sudo apt-get install -qq gfortran;
         sudo apt-get install -qq libmpich-dev;
         sudo apt-get install -qq mpich;
         sudo apt-get install -qq libgl1-mesa-glx libglu1-mesa-dev libxmu-dev tk tcl tk-dev tcl-dev;
      fi
    - test $(uname) = "Darwin" && brew update || true
    - test $(uname) = "Darwin" && brew tap homebrew/versions || true
    - test $(uname) = "Darwin" && brew install gcc@6 || true
    - test $(uname) = "Darwin" && brew link --overwrite gcc@6 || true

matrix:
   include:
     - os: linux
       compiler: gcc
       install: export CC="mpicc" export FC="mpif90" export F77="mpif90"
     - os: osx
       compiler: gcc
       install: export CC="gcc" export FC="gfortran-6" export F77="gfortran-6"

before_script:
    - ./bin/install-hdf.sh
    - ./bin/config-cgns.sh

script:
    - ./bin/build-cgns.sh
