[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=CGNSnodes
GenericName=CGNS node reference
Terminal=false
Categories=Development;
Exec="./cgnsnodes"
Icon=../share/cgnstools/cgns.png
